.span7{
    display: block;
    
}
.span8{
    display: block;

}
.span9{
    display: inline;

}
.span10{
    display:inline;

}
.span11{
    display: inline;

}
.span12{
    display: inline;

}
.span13{
    display: inline;

}
.span13{
    display: inline;

}

.span16{
    display: block;

}
.span17{
    display: block;

}
.span18{
    display: block;

}
.span19{
    display: block;

}


